<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>


<h1>Account Information</h1>
<h2 style='color: red;'>Publisher</h2>
email: publisher1@test.com
<br>
password: publisher1@test.com
<br>

<h2 style='color: blue; margin-top:20px'>Subscribers</h2>
1. <br>
email: subscriber1@test.com <br>
password: subscriber1@test.com <br>
<br>
2. <br>
email: subscriber2@test.com <br>
password: subscriber2@test.com <br>
<br>
3.<br>
email: subscriber3@test.com<br>
password: subscriber3@test.com<br>



